body {
	background-color: Black;
	margin: 0;
	background-image: url(stars.jpg);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: White;
}
a {
	color: red;
	text-decoration: underline
}
p {
	text-indent: 50;
}
h2 {
	text-indent: 120px;
}
h4 {
	text-indent: 60px;
}
a:hover {
	color: gray;
	text-decoration:none;
}
img {
    border: none;
}
h1 {
	color: #FFF;
	line-height: 28px;
	margin:0;
}
h3 {
	color: #6F92D4;
	text-align: left;
}
p {
	text-align: left;	
}
#container {
	width: 800px;
	height: 1000px;
	background-image: url(bg.jpg);
	background-repeat: repeat-y;
	margin: 0;
}
#header {
	text-align: center;
	background-image: url(space.jpg);
	background-repeat: no-repeat;
	height: 160px;
}
#content {
	width: 800;
	height: auto;
	color: White;
}
.float-right {
	clear: right;
	float: right;
}
.float-left {
	clear: left;
	float: left;
}
.news {
	width: 220px;
	clear: right;
	float: right;
	background-image: url(nova.gif);
	background-position: center;
	background-repeat: no-repeat;
}
.news .top {
  	height: 30px;
  	background: url(star.gif) no-repeat top left;
	text-align: center;
}
.news .content {
	height: auto;
	padding: 4px;
	border: 1px solid White;
	margin: 0 20px 0 20px;
	font-size: 12px;
	color: Yellow;
	text-align: left;
}
.news .bottom {
	text-align: center;
	height: 30px;
	background: url(star.gif) no-repeat top right;
	font-size: 12px;
}
#menu4 {
	width: 120px;
	border-style: solid solid none solid;
	border-color: #000;
	border-width: 1px;
	margin: 0 5px 5px 5px;
}
#menu4 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu4 li a {
	height: 32px;
	height: 24px;
	text-decoration: none;
}

#menu4 li a:link, #menu4 li a:visited {
	color: #CCC;
	display: block;
	background:  url(menu4.gif);
	padding: 8px 0 0 10px;
	filter:alpha(opacity=45);
	-moz-opacity:.45;
	opacity:.45;
}

#menu4 li a:hover, #menu4 li #current  {
	color: #FFF;
	background:  url(menu4.gif) 0 -32px;
	padding: 8px 0 0 10px;
}
.pics {
	width: 470px;
	margin: auto;
}
.pics .top {
  	height: 30px;
  	background: url(star.gif) no-repeat top right;
	text-align: center;
}
.pics .content {
	height: auto;
	padding: 4px;
	border: 1px solid White;
	margin: 0 20px 0 20px;
	font-size: 12px;
	color: Yellow;
	text-align: left;
}
.pics .bottom {
	text-align: center;
	height: 30px;
	background: url(star.gif) no-repeat top left;
	font-size: 12px;
}
#footer {
	width: 500px;
	text-align: center;
	color: #6F92D4;
	font-size:12px;
	margin: auto;
}